doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src= '/vendor/underscore.js')
    script(src= '/vendor/backbone.js')
    script(src= '/vendor/react.js')
    script(src= '/vendor/JSXTransformer.js')
  body
    block content